.container{
    /* display: flex; */
    justify-content: center;
    text-align: center;
}
.search{
    justify-content: center;
}
.card{
    /* width: 700px; */
    display: flex;
    border-radius: 3px solid black;
    justify-content: center;
    /* text-align: center; */
}
.cardcon{
    width: 600px;
    text-align: center;
    justify-content: center;
}
.cardcon p{
    font-size: 1.5rem;
}
.text{
    text-align: center;
    justify-content: center;
}
